body, html {
    margin:0;
    padding:0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.main {
    display: flex;
    z-index: 0;
}
.back {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    z-index: 1;
}
.hanging-sign img {
    width: 50vw;
}
.landscape_bg img{
    width: 100vw;
    padding: 0;
    margin: 0;
}
.back-arrow {
  position: absolute;
  width: auto;
  top: 60px;
  left: 20px;
  z-index: 2;
}
.back-arrow img {
  width: clamp(100px, 5vw, 200px);
  height: auto;
  display: block;
  transition: 0.1s;
}
.back-arrow a {
  margin: 0;
  padding: 0;
}
.back-arrow a:hover img{
  transform: scale(1.1);
  filter: brightness(1.5);
}
.arrow-signs {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 25vh 0 0 0;
  width: 100vw;
  z-index: 3;
}
.arrow-signs img {
  width: 30%;
  display: block;
}
.arrow-signs a {
  text-align: center;
  font-size: 4rem;
  text-decoration: none;
  font-family: western;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);
}
.arrow-signs a:hover {
  filter: brightness(2);
}
.arrow-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.easy {
  top: 4%;
  right: 39%;
  transform: translateX(-50%) rotate(3.5deg);
}
.easy a {
  color: #00f100a3;
}
.medium {
  top: 23.5%;
  right: 32.5%;
  transform: translateX(-50%);
}
.medium a {
  color: #fcf456aa;
}
.hard {
  top: 43.5%;
  right: 38%;
  transform: translateX(-50%) rotate(4deg);
}
.hard a {
  color: #710000c1;
}
