body, html { 
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#vanta-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
#vanta-bg canvas {
  pointer-events: none;
}
.main{
  display: flex;
  justify-content: center;
  height:100vh;
  align-items: flex-start;
  padding-top: 150px;
}
.back{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.614);
  width: inherit;
  padding: 30px;
  z-index: 20;
  gap: 50px;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: initial;
  z-index: 30;
}

.dropdown{
  overflow: hidden;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.dropdown .dropbtn {
  cursor: pointer;
  border-style: none;
  background-color: transparent;

  font-size: 2rem;
  color: aqua;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: none;
}

.dropdown-content{
  display: none;
  margin-top: 10px;
  gap: 10px;
}

.dropdown-content a{
  text-decoration: none;
  color: aqua;
  font-size: 2.3rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: none;
  min-width: 200px;
  width: inherit;
  transition: 0.1s;
}

.dropdown-content a:hover{
  color: rgba(0, 255, 255, 0.5);
  border-left: 4px solid aqua;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 440px;
}

.show {
  display: block;
}

.dropbtn:hover {
  cursor: pointer;
  color: rgba(0, 255, 255, 0.516);
}

.links a{
  text-decoration: none;
  color: aqua;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: none;
  margin: 0 0 10px 0;
}

.links{
  display: flex;
  flex-direction: column;
  border-style: dashed;
  border-color: aqua;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.744);
  gap: 20px;
  padding: 30px;
  margin: auto;
  z-index: 30;
}

.link-1 {
  text-align: center;
}

.links a:hover{
  color: rgba(0, 255, 255, 0.516);
}

@media (max-width: 600px) {
  .navbar{
    display: flex;
    flex-direction: column;
    background-color:none ;
  }
  .navbar-left{
    justify-content: center;
  }
  .navbar-left img{
    width: 350px;
  }
  .navbar-right{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0;
  }
  body{
    background-image: url(../content/CP-NC-3.jpg) ;
    margin: 20px;
  }
}